/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --text-color-main-title: #db00ff;
  --text-color-title: #000028;
  --background-color: #000028;
  --main-title-shadow:#ff0070;
  --main-title-shadow-hard:#ff0070;
  --border-color: #ff0070;
  --main-font: 'IBM Plex mono';
  --background-image: url(../images/cover-image-dark.png);
}